---
//to use Optimized Images, do the following :
// - uncomment import line with OptimizedImageDirective.astro
// - set config.copy_assets = true
// - set assets_hash_dir = true

import ImageDirective from './ImageDirective.astro';
//import ImageDirective from './OptimizedImageDirective.astro';
import ButtonDirective from './ButtonDirective.astro'

export interface Props {
  name: string;
  attributes: object[];
}

const { name, attributes } = Astro.props as Props;
const is_image = (name == "image")
const is_button = (name == "button")
const is_other = !(is_image || is_button)

---
{is_image &&
  <ImageDirective attributes={attributes}/>
}
{is_button &&
  <ButtonDirective label={attributes.label} link={attributes.link} icon={attributes.icon} />
}
{is_other &&
  <div>{name}
    {Object.keys(attributes).map((key)=>(<span>{key} = {attributes[key]}</span>))}
  </div>
}
