---
//https://ellodave.dev/blog/article/using-svgs-as-astro-components-and-inline-css/
import { log_debug } from '@/libs/utils';
import PanZoomModal from './panzoommodal.astro'
import SvgIcons from '@/components/svgicons.astro'
export interface Props {
  src: string;
  alt: string;
  title: string;
  meta: object;
  hash: string;
  height?: string;
  width?: string;
  center?: boolean;
  showOpenButton?: boolean;
  themeLazy?: boolean;
  versionId?: string;
}

const {
  src,
  alt,
  title,
  meta,
  hash,
  height,
  width,
  center,
  showOpenButton = true,
  themeLazy = false,
  versionId,
} = Astro.props as Props;
// Inline image-directive options. A bare numeric value gets a px unit.
const withUnit = (v?: string) => (v == null || v === '' ? undefined : /^\d+$/.test(v) ? `${v}px` : v);
const figureStyle = [
  withUnit(height) ? `height:${withUnit(height)}` : '',
  withUnit(width) ? `width:${withUnit(width)}` : '',
].filter(Boolean).join(';');
const asseturl = src;
const assetname = asseturl.substring(asseturl.lastIndexOf('/') + 1)
let data_name: string;
if(title){
  data_name = title
}else if(assetname != "diagram.svg"){
  data_name = assetname
}else{
  data_name = "diagram.svg"
}

log_debug(`  - panzoom : '${data_name}' : '${src}'`)
const isSvg = asseturl.endsWith(".svg")
const isImg = !isSvg

---
<div class={`container panzoom ${center?"center":""} ${showOpenButton ? 'with-open-button' : 'without-open-button'}`}
      data-panzoom-root="true"
      data-type={isSvg?"svg":"img"}
      data-name={data_name}
      data-sid={hash}
      data-meta={JSON.stringify(meta)}
      data-theme-lazy={themeLazy ? "true" : undefined}
      data-dark-url={themeLazy ? asseturl : undefined}
      data-version-id={themeLazy ? versionId : undefined}
      >
  {showOpenButton &&
    <div class="header open" title="Open full view" aria-label="Open full view">
      <SvgIcons filename="full-screen"/>
    </div>
  }
  <div class="figure">
    {isSvg&&
      <object data={asseturl} name={title} data-alt={alt} style={figureStyle} />
    }
    {isImg&&
      <img src={asseturl} title={title} alt={alt} style={figureStyle} />
    }
  </div>
  <PanZoomModal url={asseturl} />
</div>

<style >
.container{
  border-radius: 5px;
  display:flex;
  justify-content: flex-start;
  gap:0px;
  flex-direction: column;
  align-items: center;
  padding:10px;
  width:100%;
  box-sizing: border-box;
  border-top: 4px solid transparent;
  position: relative;
}
.container.with-open-button{
  padding-top:20px;
}
/* `center` option on an inline image directive */
.container.center{
  margin-inline: auto;
}
.container.with-open-button:hover{
  border: 0px solid transparent;
  border-color: transparent;
  padding-left:10px;
  padding-top:0px;
}
.header{
  display:none;
  flex-direction: row;
  justify-content: center;
  background:var(--surface-2-bg);
  align-items: stretch;
  width:5em;/* not clear why right side padding is ignored */
  padding: 2px;
  border-radius: 5px;
}
.header:hover{
  background:var(--menu-span-hover-color);
  cursor: pointer;
}

.container.with-open-button:hover .header {
  display: flex; /* Show the header on hover */
}

.figure{
  display: flex;
  justify-content: center;
  width: 100%;
}
object{
  width: 100%;
  max-width: 100%;
  height: auto;
}
img{
  width: 100%;
  max-width: 100%;
  height: auto;
}
.header :global(svg){
  height: 16px;
  width: 16px;
  margin:0px;
  padding:2px;
}
</style>


<script src="./panzoom.js" />
<script src="./panzoom_common.js" />
